/* Custom styles for the navbar */
.navbar {
    border-radius: 10px; /* Rounded edges */
    padding: 10px 20px; /* Padding for spacing */
    margin: 10px; /* Margin to separate from edges */
}

.navbar-nav .nav-link {
    padding: 10px 15px; /* Add padding to nav links */
}

.form-inline {
    margin-left: auto; /* Aligns the search form to the right */
}

.form-control {
    width: 200px; /* Set a fixed width for the search input */
}


/*home*/

.row.bg-danger {
    height: 300px;
}

.bg-danger {
    padding-top: 60px;
    padding: 50px; /* Adjust vertical padding if needed */
}


