{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header">
                    <h2 class="text-center">Event: {{ window.title }}</h2>
                </div>
                <div class="card-body">
                    <p>{{ window.content }}</p>
                    <p>Date: {{ window.date }}</p>
                    <!-- <p>Is Event: {{ window.is_event }}</p> -->

                    {% if window.image %}
                        <img src="{{ window.image.url }}" alt="Window image" class="img-fluid mt-3">
                    {% endif %}
                    
                    {% if window.video %}
                        <video src="{{ window.video.url }}" controls class="w-100 mt-3"></video>
                    {% endif %}

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center mt-3">
                            <div class="d-inline-flex justify-content-center">
                                <button type="submit" class="btn btn-primary me-2">Save Changes</button>
                                {% if window.number %}
                                <a href="{% url 'edit_event' window.number %}" class="btn btn-danger ms-2">Edit Event</a>
                                {% endif %}
                                <a href="{% url 'delete_event' window.number %}" class="btn btn-danger ms-2">Delete Event</a>

                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
